.ck-sticky-panel__content_sticky {
    display: fixed !important;
    top: 56px !important;
}

.ck-content {
    background-color: inherit !important;
    color: inherit !important;
    min-height: 400px;
}
