# Кэш

__pycache__/
*.pyc

error.log

.idea/
.vscode/

node_modules/
package-lock.json
dist/

# Ключи и настройки

# Виртуальное окружение

flask/

# Данные

app/static/load/

# Авторские права

*.otf
*.ttf