[MASTER]
jobs=2

[MESSAGES CONTROL]
disable=import-error,fixme,unsubscriptable-object,unused-argument

[BASIC]
good-names=i,j,e,f,ip,id,to,rm,tg,vk
no-docstring-rgx=[(__.*__)(Type)]

[DESIGN]
max-args=8
max-attributes=10
min-public-methods=0
