version: "3.9"
services:
  redis:
    image: redis:7.0
    restart: unless-stopped
    env_file: .env
    volumes:
      - ${DATA_PATH}/redis:/data
    ports:
      - 6379:6379
    command: bash -c "redis-server --requirepass ${REDIS_PASS}"

  db:
    image: mongo:6.0
    ports:
      - 27017:27017
    restart: unless-stopped
    env_file: .env
    environment:
      MONGO_INITDB_DATABASE: admin
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - ${DATA_PATH}/db:/data/db
      - ${DATA_PATH}/logs/mongodb.log:/data/logs/mongodb.log
      - ./configs/mongod.conf:/etc/mongod.conf
    command: --config /etc/mongod.conf

  api:
    image: ${PROJECT_NAME}/api
    build: ./api
    depends_on:
      - db
      - redis
    restart: unless-stopped
    env_file: .env
    environment:
      WEB: http://localhost/
    volumes:
      - ${DATA_PATH}/load:/data/load
      - ${DATA_PATH}/backup:/backup
      - ./scripts:/app/scripts
      # For logs
      - ${DATA_PATH}/logs/api.err:/app/app.err
      - ${DATA_PATH}/logs/api.log:/app/app.log
      # For hot reload
      - ./api:/app
    command: bash -c "cd /app && uvicorn app:app --host 0.0.0.0 --port 5000 --proxy-headers --reload"
    healthcheck:
      test: "curl --fail http://0.0.0.0:5000/"
      interval: 1s
      timeout: 1s
      start_period: 180s
      retries: 180

  jobs:
    image: ${PROJECT_NAME}/jobs
    build: ./api
    depends_on:
      - db
      - redis
    restart: unless-stopped
    env_file: .env
    environment:
      API: http://api:5000/
      WEB: http://localhost/
    volumes:
      # For logs
      - ${DATA_PATH}/logs/jobs.err:/app/app.err
      - ${DATA_PATH}/logs/jobs.log:/app/app.log
      # For hot reload
      - ./api:/app
      # For sitemap
      - ${DATA_PATH}/sitemaps:/data/sitemaps
      - ${DATA_PATH}/sitemap.xml:/data/sitemap.xml
      - ${DATA_PATH}/robots.txt:/data/robots.txt
    command: bash -c "cd /app && python job.py"

  web:
    image: ${PROJECT_NAME}/web
    build: ./web
    restart: unless-stopped
    env_file: .env
    environment:
      NEXT_PUBLIC_API: http://localhost/api/
      NEXT_PUBLIC_WEB: http://localhost/
      NEXT_PUBLIC_NAME: ${NAME}
      NEXT_PUBLIC_LOCALE: ${LOCALE}
      NEXT_PUBLIC_GOOGLE_ID: ${GOOGLE_ID}
      NEXT_PUBLIC_VK_ID: ${VK_ID}
      NEXT_PUBLIC_GOOGLE_MAPS_KEY: ${GOOGLE_MAPS_KEY}
      NEXT_PUBLIC_GOOGLE_MAPS_LAT: ${GOOGLE_MAPS_LAT}
      NEXT_PUBLIC_GOOGLE_MAPS_LNG: ${GOOGLE_MAPS_LNG}
      NEXT_PUBLIC_GOOGLE_MAPS_ZOOM: ${GOOGLE_MAPS_ZOOM}
      NEXT_PUBLIC_TG_BOT: ${TG_BOT}
      NEXT_PUBLIC_ANALYTICS_SHEET: ${ANALYTICS_SHEET}
    volumes:
      - ./web/public:/app/public
      - ./web/styles:/app/styles
      - ./web/lib:/app/lib
      - ./web/redux:/app/redux
      - ./web/components:/app/components
      - ./web/pages:/app/pages
    command: npm run dev

  server:
    image: nginx:1.23
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./configs/nginx.conf:/etc/nginx/nginx.conf
      - ${DATA_PATH}/load:/load
      - ${DATA_PATH}/logs:/data/logs
      # For sitemap
      - ${DATA_PATH}/sitemaps:/data/sitemaps
      - ${DATA_PATH}/sitemap.xml:/data/sitemap.xml
      - ${DATA_PATH}/robots.txt:/data/robots.txt
    depends_on:
      - api
      - jobs
      - web
    ports:
      - ${EXTERNAL_PORT}:80
