.auth button {
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    outline: 0px;
    text-align: center;
    border: 0px;
    font-weight: bold;
    border-radius: .75rem;
    position: relative;
    height: 42px;
    line-height: 22px;
    width: 100%;
}

.auth button:hover {
    opacity: 0.9;
    color: #fff;
}

.btn_mail {
    background: #2ecc71 !important;
    display: block;
}

.btm_mail:hover {
    background: #2ecc71 !important;
    opacity: 0.95;
}

.btn_vk {
    background-color: #517299 !important;
}

.btn_g {
    background-color: #db4437 !important;
}

.btn_tg {
    background: #0088cc !important;
}

.btn_vk, .btn_g, .btn_tg {
    display: block;
}

.btn_vk:hover, .btn_g:hover, .btn_tg:hover {
    opacity: 0.95;
}
