/* Popup */

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

.popup_back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.popup_cont {
    position: absolute;
    background: #fff;
    border-radius: 4px;
    z-index: 101;
    padding: 20px;
    min-width: 280px;
    max-width: 500px;
    text-align: center;
}

/* Buttons */

.popup .btn {
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    outline: 0px;
    text-align: center;
    border: 0px;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    height: 42px;
    line-height: 22px;
    width: 100%;
}

.popup .btn:hover {
    opacity: 0.9;
    color: #fff;
}

.btn_vk {
    background-color: #517299 !important;
    display: block;
}

.btn_vk:hover {
    background: #517299 !important;
    opacity: 0.95;
}

.btn_google {
    background-color: #db4437 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_google:hover {
    background: #db4437 !important;
    opacity: 0.95;
}
