[MASTER]
jobs=2

[MESSAGES CONTROL]
disable=unsubscriptable-object,unused-argument,no-name-in-module,duplicate-code

[FORMAT]
max-line-length=80

[MISCELLANEOUS]
notes=FIXME,BUG,UGLY # TODO

[BASIC]
good-names=i,j,e,f,k,v,by,db,ip,id,to,rm,el,tz,tg,vk
no-docstring-rgx=[(__.*__)(Type)]

[DESIGN]
max-args=8
max-attributes=10
min-public-methods=0
