[MASTER]
jobs=2

[MESSAGES CONTROL]
disable=import-error,unsubscriptable-object,unused-argument, duplicate-code,bare-except,broad-except,too-many-branches,too-many-statements,too-many-locals,too-many-return-statements,consider-using-dict-items,consider-iterating-dictionary,raise-missing-from,inconsistent-return-statements,redefined-outer-name,invalid-name,super-init-not-called,no-self-use,isinstance-second-argument-not-valid-type,unused-import,no-name-in-module

[FORMAT]
max-line-length=80

[MISCELLANEOUS]
notes=FIXME # TODO,BUG,UGLY

[BASIC]
good-names=i,j,e,f,ip,id,to,rm,el,tg,vk
no-docstring-rgx=[(__.*__)(Type)]

[DESIGN]
max-args=8
max-attributes=10
min-public-methods=0
