.card {
    cursor: pointer;
    background-color: auto;
}

.card .badge {
    font-size: 1rem;
    margin: 0 10px 5px 0;
}

.light {
    background-color: #fff;
}

.dark {
    background-color: #3a4951;
}
