.card {
    max-height: 240px;
    cursor: pointer;
    background-color: auto;
}

.card [class*="card-img-top"] {
    height: 184px;
    background-size: cover;
    background-position: center center;
}

.card .badge {
    font-size: 1rem;
    margin: 0 10px 5px 0;
}

.light {
    background-color: #fff;
}

.dark {
    background-color: #3a4951;
}
