.card {
    max-height: 240px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0.25rem 1.5rem rgb(0 0 0 / 12%) !important;
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.card:hover {
    transform: scale3d(1.01, 1.01, 1.01);
}

.card [class*="card-img-top"] {
    height: 184px;
    background-size: cover;
    background-position: center center;
}

.card .badge {
    font-size: 1rem;
    margin: 0 10px 5px 0;
}

.light {
    background-color: #fff;
    color: #000 !important;
}

.dark {
    background-color: #3a4951;
    color: #fff !important;
}
