.menu,
.menu .dropdown-item {
    cursor: pointer;
}

.custom {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1.4 !important;
}

.search {
    background-color: inherit;
    color: inherit !important;
}
