.pass_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.pass_info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.pass_info span {
    text-align: left;
    margin: 0 0 5px 10px;
}

.pass_info span i {
    margin: 0 5px;
}

.btn {
    width: 100%;
}
