body {
    min-width: 250px;
}

.bg-dark {
    color: var(--bs-light);
}

a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

select {
    cursor: pointer;
}

textarea {
    resize: none;
}

ul {
    list-style-type: disc;
}

.dark {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.dark div, .dark a {
    color: var(--bs-light) !important;
}

.dark *:hover {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

/* Header */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 500;
}

.navbar-brand {
    line-height: 2.5rem;
    padding: 0.5rem 0;
}

.navbar-brand img, .nav-link img {
    height: 25px;
    margin-top: -5px;
}

.navbar .badge {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.navbar li {
    line-height: 2.5rem;
}

.navbar .nav-item > div {
    line-height: 2.5rem;
    padding: .5rem;
}

@media all and (max-width: 991px) {
    .navbar {
        padding-bottom: 15px;
    }

    .navbar .badge {
        margin: 0 0 0 10px;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

/*.navbar-nav a:not(.nav-link) img*/
.badge img {
    height: 1em;
}

.nav-link {
    display: inline-block;
}

.bg-light .active a {
    color: #6c757d !important;
}

.dropdown:hover .dropdown-menu:not(#profile) {
    display: block;
}
