.line {
    cursor: pointer;
}

.online,
.offline {
    display: inline-block;
    width: .7em;
    height: .7em;
    font-size: .9em;
    margin: 0 12px 0 8px;
    cursor: pointer;
}

.online {
    background: #28b62c;
    border-radius: 50%;
    animation-name: pulse-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse-animation {
    0% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.5) }
    75% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

.offline {
    background: #ff4136;
}

.user div:last-child {
    margin: 0 20px 0 15px;
    display: inline-block;
}
