/* Popup */

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

.popup_back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.popup_cont {
    position: absolute;
    background: #fff;
    border-radius: .75rem;
    z-index: 101;
    padding: 20px 24px;
    min-width: 280px;
    max-width: 500px;
    text-align: center;
}

.popup button {
    width: 100%;
}
