.post button {
    width: 3rem;
    margin: 0 0 0 10px;
}

.image {
    border-radius: .75rem;
    width: 100%;
    margin-bottom: 16px;
}

.post figure {
    text-align: center;
}

.post [class*="image-style-side"] {
    float: right;
    margin-left: 1.5em;
    max-width: 50%;
}

.post [class*="image-style-align-left"] {
    float: left;
    margin-right: 1.5em;
}

.post [class*="image-style-align-center"] {
    margin-left: auto;
    margin-right: auto;
}

.post [class*="image-style-align-right"] {
    float: right;
    margin-left: 1.5em;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex!important;
}

.post .navigation {
    margin: -7px 0 16px 0;
}

.category .navigation {
    margin: 0;
}

.category span,
.category h1 {
    font-size: calc(1.325rem + .9vw) !important;
}

.category h1 {
    line-height: var(--bs-body-line-height) !important;
}
