.upload {
    width: 100vw;
    height: 250px;
    border: 2px dashed var(--bs-gray);
    border-radius: .75rem;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
}

.upload div {
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    background-size: cover;
    background-position: center center;
}

.upload input {
    display: none;
}
