version: "3"
services:
  db:
    image: "mongo:4.4.2"
    # ports:
    #   - "27017:27017"
    restart: unless-stopped
    env_file: .env
    environment:
      MONGO_INITDB_DATABASE: admin
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_LOGIN}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - ../data/db:/data/db
      - ../data/logs:/data/logs
    #   - ../docker/db/mongod.conf:/etc/mongod.conf
    # command: --config /etc/mongod.conf

  api:
    build:
      dockerfile: ../docker/api/Dockerfile
      context: ../api
      args:
        - PROTOCOL=${PROTOCOL}
        - HOST=${EXTERNAL_HOST}
        - PORT=443
        - MODE=${MODE}
        - SIDE_OPTIMIZED=${SIDE_OPTIMIZED}
        - LOCALES=${LOCALES}
        - LOCALE=${LOCALE}
        - TIMEZONE=${TIMEZONE}
        - MONGO_DB=${MONGO_DB}
        - MONGO_LOGIN=${MONGO_LOGIN}
        - MONGO_PASSWORD=${MONGO_PASSWORD}
        - GOOGLE_ID=${GOOGLE_ID}
        - GOOGLE_SECRET=${GOOGLE_SECRET}
        - TG_TOKEN=${TG_TOKEN}
        - BUG_CHAT=${BUG_CHAT}
        - SMSC_LOGIN=${SMSC_LOGIN}
        - SMSC_PASSWORD=${SMSC_PASSWORD}
        - VK_ID=${VK_ID}
        - VK_SECRET=${VK_SECRET}
    depends_on:
      - db
    restart: unless-stopped
    env_file: .env
    volumes:
      - ../data/load:/data/load
      - ../data/logs/api.err:/app.err
      - ../data/logs/api.log:/app.log
      # For hot reload
      - ../api/api:/api
      - ../api/app.py:/app.py

  tg:
    build:
      dockerfile: ../docker/tg/Dockerfile
      context: ../tg
      args:
        - PROTOCOL=${PROTOCOL}
        - HOST=${EXTERNAL_HOST}
        - PORT=443
        - TG_TOKEN=${TG_TOKEN}
        - MODE=${MODE}
        - BUG_CHAT=${BUG_CHAT}
    env_file: .env
    volumes:
      - ../data/logs/tg.err:/app.err
      - ../data/logs/tg.log:/app.log
    depends_on:
      - api
    restart: unless-stopped

  server:
    build:
      dockerfile: ../docker/web/Dockerfile.prod
      context: ../web
      args:
        - PROTOCOL=${PROTOCOL}
        - HOST=${EXTERNAL_HOST}
        - PORT=443
        - LOCALES=${LOCALES}
        - LOCALE=${LOCALE}
        - TIMEZONE=${TIMEZONE}
        - NAME=${NAME}
        - MAIL=${EMAIL}
        - PHONE=${PHONE}
        - SOCIAL=${SOCIAL}
        - GOOGLE_MAP_KEY=${GOOGLE_MAP_KEY}
        - GOOGLE_MAP_LAT=${GOOGLE_MAP_LAT}
        - GOOGLE_MAP_LNG=${GOOGLE_MAP_LNG}
        - GOOGLE_MAP_ZOOM=${GOOGLE_MAP_ZOOM}
    restart: unless-stopped
    env_file: .env
    volumes:
      - ../docker/server/nginx.prod.conf:/etc/nginx/nginx.conf.template
      - ../data/load:/load
      - ../data/logs:/data/logs
    depends_on:
      - api
      - tg
    ports:
      - '${EXTERNAL_PORT}:80'
    command: /bin/sh -c "envsubst '$${EXTERNAL_HOST}'< /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g \"daemon off;\""
