/* * {
    background-color: inherit;
} */

body {
    background-color: var(--bs-success);
}

.bg-dark {
    color: var(--bs-light);
}

.dark {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.dark div, .dark a {
    color: var(--bs-light) !important;
}

.dark *:hover {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

#main {
    min-height: calc(100vh - 215px);
}

#main h2 {
    margin: 25px 0 15px 0;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem;
    }
}

#main li {
    margin: 10px 0 10px 0;
}

.u-content img {
    max-width: 100%; /*80%*/
}

.u-cursor {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* Notifications */
/*
.u-notification {
    cursor: pointer;
    position: fixed;
    margin-top: 10px;
    z-index: 99;
}

.u-notification > div:first-child {
    width: calc(100% - 3em);
}

.u-notification * {
    display: inline-block;
}
*/
